{
  "svelteSortOrder": "scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "htmlWhitespaceSensitivity": "strict",
  "embeddedLanguageFormatting": "off"
}
